*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f5f7fb;
color:#1f2937;
}

button{
border:none;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:translateY(-2px);
}

input{
outline:none;
}